.p-text-input {
  --p-input-bg:            var(--color-white);
  --p-input-bg-focus:      var(--color-white);
  --p-input-bg-readonly:   var(--color-gray-lighter);
  --p-input-text:          var(--color-black);
  --p-input-text-helper:   var(--color-gray-darker);
  --p-input-ring:          var(--color-primary);
  --p-input-label:         var(--color-gray-darker);
  --p-input-label-focus:   var(--color-primary);
  --p-input-border:        var(--color-black);
  --p-input-border-focus:  var(--color-black);
}
