@theme {
  --color-black: #0D0D0D;
  --color-white: #FCF5ED;
  --color-primary: #CE5A67;
  --color-secondary: #F4BF96;
  --color-gray-darker: #78716c;
  --color-gray: #A3A3A3;
  --color-gray-lighter: #e0e6ed;

  --font-sans: "AvantGarde", sans-serif;
  --font-serif: "Lora", serif;
}
